@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.kid-head{
    max-width: 1160px;
    margin: 0 auto;
}

/* nav bar css  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nab-img-logo{
    display: flex;
}
.list-item{
    list-style: none;
}
.nav-link{
    display: flex;
    text-decoration: none;
}
.navlis{
    display: flex;
    gap: 32px; 
}
.btn-primary{
    background-color: #FEA301;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.25rem;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
}
.navbar-head{
    font-weight: bold; 
}
.home-color{
    color: #FEA301;
    font-weight: bold;
 }
 .about-color{
    color: #01ACFD;
 }
 .faci-color{
    color:rgba(5, 212, 223, 1);
}
.admi-color{
    color: rgba(93, 88, 239, 1);
}
.hamburger { 
    display: none;
    cursor: pointer;
 }
.hamburger  div { 
    width: 23px; 
    height: 4px; 
    background-color: black; 
    margin: 6px 0; 
}
.super-hero{
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    align-items: center;
}
.students-title{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 0px;
   
   
}
.students{
    width: 600px;
    height: 331px;
    margin-right: 70px;
   
}
.part1{
    color: #FEA301;
}
.part3{
    color: #01ACFD;
}
.btn-Enroll{
    background-color: rgba(17, 17, 17, 1);
    color: #FFFFFF;
    width: 197px;
    height: 50px;
    border-radius: 12px;
    border: none;
}
.hero-des{
    font-size: 1.25rem;
    font-weight:normal;
}

.curriculum{
   background-image: url(./assets/bg.png);
   max-width: 1160px;
   margin: 0 auto;

}
.curriculum-title{
    text-align: center;
    font-weight: bold;
    font-size: 2.8rem;
    color: black;
    margin-top: 60px;
    margin-bottom: 80px;

}
.card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
.card1{
    background:  linear-gradient(to bottom,rgba(222, 245, 255, 1),#FFFFFF);
    border-radius: 18.86px;
    padding: 52px 20px;
}
.card2{
    background:  linear-gradient(to bottom,rgba(255, 244, 220, 1),#FFFFFF);
    border-radius: 18.86px;
    padding: 52px 20px;
}
.card3{
    background:  linear-gradient(to bottom,rgba(242, 232, 255, 1),#FFFFFF);
    border-radius: 18.86px;
    padding: 52px 20px;
}
.card-title{
    font-weight: bold;
    font-size: 1.5rem;
}
.card-description{
    color: rgba(128, 128, 128, 1);
}
.card1-p{
    color: #64C8FF;
    font-weight: bold;
    padding-top: 15px;
}
.card2-p{
    color: #F0AA00;
    font-weight: bold;
    padding-top: 18px;

}
.card3-p{
    color: #8700FF;
    font-weight: bold;
    padding-top: 18px;
}
.right{
    border: none;
    background-color: #FEA301;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 40px;
    border-radius: 32px;
    width: 60px;
    height: 60px;
}
.left{
    border: none;
    background-color: #FEA301;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 40px;
    border-radius: 32px;
    width: 60px;
    height: 60px;

}
.left-right{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

@media screen  and (max-width:576px){
    .navbar-head{
        display: none;
    }
    .btn-primary{
        display: none;}
    .navlis{
        display: none;
    }
    .hamburger{
        display: block; 
    
    }
   .kid-head{
    display: flex;
    justify-content: space-between;
    margin: 20px 16px; 
   }
   .super-hero{
    flex-direction: column-reverse;

    
   }
   .students{
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 252px;
    text-align: center;
   }
  

 
}
