@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.kid-head{
    max-width: 1160px;
    margin: 0 auto;
}

/* nav bar css  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nab-img-logo{
    display: flex;
}
.list-item{
    list-style: none;
}
.nav-link{
    display: flex;
    text-decoration: none;
}
.navlis{
    display: flex;
    gap: 32px; 
}
.btn-primary{
    background-color: #FEA301;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.25rem;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
}
.navbar-head{
    font-weight: bold; 
}
.home-color{
    color: #FEA301;
    font-weight: bold;
 }
 .about-color{
    color: #01ACFD;
 }
 .faci-color{
    color:rgba(5, 212, 223, 1);
}
.admi-color{
    color: rgba(93, 88, 239, 1);
}
.hamburger { 
    display: none;
    cursor: pointer;
 }
.hamburger  div { 
    width: 23px; 
    height: 4px; 
    background-color: black; 
    margin: 6px 0; 
}
.super-hero{
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    align-items: center;
}
.students-title{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 0px;
   
   
}
.students{
    width: 600px;
    height: 331px;
    margin-right: 70px;
   
}
.part1{
    color: #FEA301;
}
.part3{
    color: #01ACFD;
}
.btn-Enroll{
    background-color: rgba(17, 17, 17, 1);
    color: #FFFFFF;
    width: 197px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
}
.hero-des{
    font-size: 1.25rem;
    font-weight:normal;
}
.curriculum-bg{
    background-image: url(./assets/bg.png);
}


.curriculum{
 
   max-width: 1160px;
   margin: 0 auto;

}
.curriculum-title{
    text-align: center;
    font-weight: bold;
    font-size: 2.8rem;
    color: black;
    margin-top: 60px;
    margin-bottom: 80px;

}
.card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
.card1{
    background:  linear-gradient(to bottom,rgba(222, 245, 255, 1),#FFFFFF);
    border-radius: 18.86px;
    padding: 52px 20px;
}
.card2{
    background:  linear-gradient(to bottom,rgba(255, 244, 220, 1),#FFFFFF);
    border-radius: 18.86px;
    padding: 52px 20px;
}
.card3{
    background:  linear-gradient(to bottom,rgba(242, 232, 255, 1),#FFFFFF);
    border-radius: 18.86px;
    padding: 52px 20px;
}
.card-title{
    font-weight: bold;
    font-size: 1.5rem;
}
.card-description{
    color: rgba(128, 128, 128, 1);
}
.card1-p{
    color: #64C8FF;
    font-weight: bold;
    padding-top: 15px;
}
.card2-p{
    color: #F0AA00;
    font-weight: bold;
    padding-top: 18px;

}
.card3-p{
    color: #8700FF;
    font-weight: bold;
    padding-top: 18px;
}
.right{
    border: none;
    background-color: #FEA301;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 40px;
    border-radius: 32px;
    width: 60px;
    height: 60px;
}
.left{
    border: none;
    background-color: #FEA301;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 40px;
    border-radius: 32px;
    width: 60px;
    height: 60px;

}
.left-right{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}



.stories-bg{
    background: linear-gradient(to top, rgba(255, 188, 5, 0.5), rgba(246, 246, 246, 0.5)), 
    url(assets/bg.png);
    height: 1004px;
}
.div-parent{
    display: flex;
    max-width: 1160px;
    margin: 0 auto;  
    gap: 20px;
}
.forth-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19px; 
}
.bac-co{
    background-color:#FFFFFF;
    border-radius: 16px;
}
.bg-pic{
    width: 540px;
    height: 630px;
}
.img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.big-btn{
    background-color: #3CD8E8;
    border: none;
    width: 174px;
    height: 50px;
    color: #FFFFFF;
    border-radius: 47px;
    margin-left: 30px;
    margin-top: -400px;
  
}
.first-btn{
    background-color: #95B226;
    border: none;
    color: #FFFFFF;
    border-radius: 30px;
    width: 174px;
    height: 38px;
   
}
.big-title{
    margin: 0px;
}
.first-part{
  

}

/* .View{
    margin-top: 190px;
    margin-left: 650px;
   
} */

/* footer part start */
.footer-part{
    background-color: #01ACFD;
    height: 519px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.footer-HEAD{
    padding-left: 140px;

   
}
.footer-descri{
    color: #FFFFFF;
    font-size: 1.25rem;
    width: 399px;
    height: 100px;
    text-align: left;
    

}

.footer-img{
    width: 82px;
    height: 81px;
    padding-top:10px;
    
 
 
}
.fl{
    text-align: left;
    padding-left: 120px;
}
.footer-about{
   
    color: #FFFFFF;
    
    
}

.keep{
    color: #FFFFFF;
}
.png{
   padding-right: 144px;

}
.footer-title{
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-left: 0px;
}
.schoo1-part{
    display: flex;
   text-align: left;
    
}


@media screen  and (max-width:576px){
    .navbar-head{
        display: none;
    }
    .btn-primary{
        display: none;}
    .navlis{
        display: none;
    }
    .hamburger{
        display: block; 
    
    }
   .kid-head{
    display: flex;
    justify-content: space-between;
    margin: 20px 16px; 
   }
   .super-hero{
    flex-direction: column-reverse;

    
   }
   .students{
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 252px;
    text-align: center;
    margin-bottom: 300px;
   }
   .left-right{
    display: none;
   }
   .card{
    grid-template-columns: repeat(1,1fr);
    
    
   }
   .curriculum-title{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 2.5rem;
   }
   .footer-part{
    height: 643px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
   }
   .footer-HEAD{
    padding-left: 30px;
    padding-bottom: 0px;
   }
 .fl{
    padding-left: 0px;  
 }
 .footer-about-head{
    padding-left: 35px;
    text-align: left;
 }
 .png{
    padding-left: 35px;
    text-align: left;
    padding-bottom: 20px;
 }

 
}
